<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>FISHING PRO</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/logo.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout position_head">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{{ url_for('indexusuario') }}"><img src="/static/images/logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{{ url_for('indexusuario') }}">Inicio</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('about2') }}">Acerca De</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('articulos') }}">Productos</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('shop2') }}">Tienda</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('contact2') }}">Contactos</a>
                              </li>
                              <li class="nav-item d_none login_btn">
                                 <a class="nav-link" href="{{ url_for('cerrar_sesion') }}">Cerrar sesion</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('ver_carrito') }}">
                                    <img src="{{ url_for('static', filename='/images/carrito.png') }}" alt="Carrito de Compras" style="width: 30px; height: 30px;">
                                </a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- Our  Glasses section -->
      <div class="glasses">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage">
                     <h2>Nuestros Productos</h2>                     
                     <p>En Fishing Pro, la calidad es nuestra prioridad. Nos aseguramos de ofrecerte los mejores productos de pesca, seleccionando cuidadosamente cada artículo para garantizar resistencia, durabilidad y un desempeño excepcional en cada jornada de pesca. Trabajamos con marcas reconocidas y probadas por pescadores expertos, asegurando que cada caña, carrete, señuelo y accesorio cumpla con los más altos estándares. Nuestros productos están diseñados para soportar diferentes condiciones climáticas y tipos de pesca, brindándote seguridad y confianza en cada lanzamiento. Además, en Fishing Pro sometemos nuestros productos a estrictos controles de calidad y ofrecemos garantía en cada compra, porque sabemos que tu pasión por la pesca merece lo mejor. Confía en Fishing Pro y equípate con lo mejor para cada aventura en el agua. ¡Calidad que marca la diferencia! 🎣🔝
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="row">
               {% for articulo in Art_Tipo %}
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                  <div class="glasses_box">
                     <form method="post" action="{{ url_for('agregar_al_carrito', articulo_id=articulo.Articulo_ID) }}">
                          <figure>
                              <img src="{{ url_for('static', filename='images/' + articulo.imagen) }}" alt="#">
                          </figure>
                          <h3><span class="blu">$</span>{{ articulo.Precio_A }}</h3>
                           <p>{{ articulo.Nombre_A }}</p>
                           <p>{{ articulo.Descripcion_A }}</p>
                           <p>Stock: {{ articulo.Stock }}</p>
                           <p>Tipo: {{ articulo.Nombre_TA }}</p>
                          <input type="number" name="cantidad" value="1" min="1" max="{{ articulo.Stock }}">
                           <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                      </form>
                  </div>
              </div>
              {% endfor %}
               <div class="col-md-12">
                  <a class="read_more" href="#">Read More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end Our  Glasses section -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <ul class="location_icon">
                        <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br> Location</li>
                        <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> +01 1234567890</li>
                        <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a><br> demo@gmail.com</li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2019 All Rights Reserved. Design by<a href="#"> Jose Antonio Davila Ochoa</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
   </body>
</html>
