<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style2.css">
    <title>FISHING PRO</title>
    <link rel="icon" href="/static/images/logo.png" type="image/gif" />
</head>
<body>

<div class="formulario">
    <h1>Registro</h1>
    <form method="post" action="{{ url_for('registro') }}" onsubmit="return validarContraseña()">
        <div class="username">
            <input type="text" name="Nombre_C" pattern="[A-Za-zÁÉÍÓÚáéíóú\s]+" title="Por favor, ingresa solo letras" required>
            <label>Nombre</label>
        </div>
        <div class="username">
            <input type="text" name="Apellido_C" pattern="[A-Za-zÁÉÍÓÚáéíóú\s]+" title="Por favor, ingresa solo letras" required>
            <label>Apellido</label>
        </div>
        <div class="username">
            <input type="text" name="Direccion_C" required>
            <label>Dirección</label>
        </div>
        <div class="username">
            <input type="tel" name="Telefono_C" pattern="[0-9]+" title="Por favor, ingresa solo números" required>
            <label>Teléfono</label>
        </div>
        <div class="username">
            <input type="text" name="nombre_usuario_pesca" id="nombre_usuario" required>
            <label>Nombre de usuario</label>
        </div>
        <div class="username">
            <input type="password" id="contrasena" name="contrasena" required>
            <label>Contraseña</label>
        </div>
        <!-- Mover los requisitos de la contraseña debajo del campo de contraseña -->
        <div class="requisitos-contraseña" id="requisitos-contraseña">
            <p>La contraseña debe tener al menos 8 caracteres y contener al menos una letra mayúscula, una letra minúscula y un número.</p>
        </div>
        <div class="registrarse">
            Ya cuento con una <a href="{{ url_for('iniciosesion') }}">Cuenta</a>
        </div>
        <div class="centro">
            <input type="submit" value="Registrarse">
        </div>
    </form>
</div>

<!-- Alerta de usuario existente -->
<script>
    {% if 'El nombre de usuario ya está en uso. Por favor, elige otro.' in get_flashed_messages() %}
        alert('El nombre de usuario ya está en uso. Por favor, elige otro.');
    {% endif %}
</script>

<!-- Alerta de teléfono existente -->
<script>
    {% if 'El número de teléfono ya está en uso. Por favor, introduce otro.' in get_flashed_messages() %}
        alert('El número de teléfono ya está en uso. Por favor, introduce otro.');
    {% endif %}
</script>
<!-- Función JavaScript para validar contraseña -->
<script src="/static/js/main.js"></script>

</body>
</html>